<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
          <link rel="stylesheet" href="{{ asset('build/app.css') }}"/>
        {% endblock %}
    </head>
    <body>
        <div id="hMenu">
          <ul>
              <li><a href="/">Home</a></li>
              <li><a href="{{ url('subject') }}">Subjects</a></li>
              <li><a href="{{ url('lucky_number') }}">Lucky Number</a></li>
              <li><a href="/contact">Contact</a></li>
          </ul>
        </div>

        {# pass an array argument to get the messages of those types  #}
        {% for label, messages in app.flashes(['success', 'info', 'warning', 'danger']) %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <div id="content" class="container" >
            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>
